.bevelled-box {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    box-sizing: border-box;

    > .bevel {
        grid-area: 1 / 1;
        border-style: solid;
        background-color: var(--light-grey);

        &.outset {
            border-top-color: white;
            border-bottom-color: var(--dark-grey);
            border-right-color: var(--dark-grey);
            border-left-color: white;
        }

        &.inset {
            border-top-color: var(--dark-grey);
            border-bottom-color: white;
            border-right-color: white;
            border-left-color: var(--dark-grey);
        }
    }

    .corner-overlay {
        grid-area: 1 / 1;
        position: relative;

        .corner-tr {
            @include absolute-tr;
            @include corner;
        }

        .corner-bl {
            @include absolute-bl;
            @include corner;
        }
    }

    .content {
        grid-area: 1 / 1;
        z-index: 2;
    }
}
