.counter {
    > .bevelled-box {
        > .bevel {
            background-color: var(--grey-30);
        }

        > .content {
            display: flex;
        }
    }

    .digit-img {
        height: var(--counter-height);
    }
}
