.custom-form {
    padding-bottom: 10px;
    padding-top: 5px;
    padding-inline-start: 30px;
    display: flex;
    gap: 20px;

    .field {
        display: flex;
        align-items: center;
        > label {
            padding-inline-end: 8px;
            color: var(--grey-50);
        }

        > input {
            padding: 5px;
            width: 40px;
        }
    }

    button.submit {
        @include clear-button-styling();
        padding: 7px;
        margin-inline-start: 20px;
        border: 0.5px solid var(--grey-30);

        &:hover {
            background-color: var(--blue-10);

            &:active {
                background-color: var(--blue-15);
            }
        }
    }
}
