.game {
    display: grid;
    justify-content: center;

    > .outer-container {
        grid-area: 1 / 1;
        outline: 1rem solid var(--darkest-grey);
        border-top: var(--game-bevel) solid white;
        border-bottom: var(--game-bevel) solid var(--dark-grey);
        border-inline-end: var(--game-bevel) solid var(--dark-grey);
        border-inline-start: var(--game-bevel) solid white;
        padding: var(--game-padding);
        background-color: var(--light-grey);
    }

    > .corner-overlay {
        grid-area: 1 / 1;
        position: relative;

        .corner-tr {
            @include absolute-tr;
            @include corner-tr-bl;
        }

        .corner-bl {
            @include absolute-bl;
            @include corner-tr-bl;
        }
    }

    > .inner-container {
        grid-area: 1 / 1;
        padding: calc(var(--game-bevel) + var(--game-padding));

        z-index: 2;
    }
}
