.game-setting {
    color: var(--link);
    @include clear-button-styling;
    padding: 10px;
    user-select: none;

    &:hover {
        background-color: var(--grey-1);
    }

    &:active:hover {
        background-color: var(--grey-01);
    }

    &.selected {
        color: white;
        background-color: var(--grey-2);
    }
}
