.smiley-button {
    @include clear-button-styling;
    background-image: url(/smileys/smiley-happy-unpressed.svg);
    background-repeat: no-repeat;
    height: var(--smiley-size);
    aspect-ratio: 1 / 1;
    background-size: cover;

    &.smiley-scared {
        background-image: url(/smileys/smiley-scared.svg);
    }

    &.smiley-sad {
        background-image: url(/smileys/smiley-sad.svg);
    }

    &:active:hover {
        background-image: url(/smileys/smiley-happy-pressed.svg);
    }
}
