:root {
    // this affects every unit that is specified with "rem"
    // change this to scale the entire game.
    font-size: 2px;

    --cell-size: 16rem;
    --smiley-size: 26rem;
    --counter-size: 23rem;

    // colors
    --light-grey: #c0c0c0;
    --dark-grey: #808080;
    --darkest-grey: #707070;
}
