:root {
    --cell-size: 16px;
    --smiley-size: 26px;
    --counter-height: 23px;

    // colors
    --grey-10: #e3e3e3;
    --grey-15: #cccccc;
    --grey-20: #c0c0c0;
    --grey-30: #808080;
    --grey-40: #373737;

    --link: #1362a7;
}
